footer#footer.b-footer
    .container
        .b-footer__conteiner
            .b-footer__content
                p.b-footer__copy 2014-2019. «ТЭПК». Все права защищены
                a.b-footer__policy(href="#") Политика конфиденциальности
            button.b-footer__button.b-button
                span.b-button__content Оставить запрос
