header#header.b-header
    .container
        .b-header__content
            a.b-logo.b-header__logo(href="/")
                img(src="img/logo.png")
            a.b-header__logo.b-header__logo--mobile.b-logo
                img(src="img/logo--mobile.png")
            nav.b-nav.b-header__nav
                a.b-nav__link(href="#") Компания
                a.b-nav__link(href="#") Наш бизнес
                a.b-nav__link(href="#") Новости и медиа
                a.b-nav__link(href="#") Контакты
            .b-header__locales.b-locales
                .b-locales__item.b-locales__item--active.js-change-locale
                    span ру
                .b-locales__item.js-change-locale
                    span en
            .b-header__mobile
                .b-header__burger.b-burger.js-burger
                    span
                    span
