#js-modal.modal
    button.modal__close
    h3.modal__title Оставить запрос

    form.modal__form
        input(type="text" name="name" placeholder="Ваше имя").modal__input
        input(type="tel" name="phone" placeholder="Телефон").modal__input
        textarea.modal__message.modal__input(placeholder="Коментарий")

        button.b-button.b-button--light.modal__button
            span.b-button__content Оставить