.bAbout
    .container
        .bAbout__wrap
            .bAbout__text
               .bAbout__text-title Угольный портовый терминал
               p.bAbout__descr Подпроект подразумевает строительство угольного терминала в порту Ванино в районе мыса Бурный на территории Хабаровского края.

            .bAbout__img-block
                .bAbout__img-wrap
                    img(src="img/cheme-1.png" alt="Alt").bAbout__img
                .bAbout__bg


