.bAdvants
    .bAdvants__item
        figure.bAdvants__img
            img(src="img/advants/1.png")
        p.bAdvants__title 100 га
        span.bAdvants__text Площадь терминала
    .bAdvants__item
        figure.bAdvants__img
            img(src="img/advants/2.png")
        p.bAdvants__title 15 млн. т. (в год)
        span.bAdvants__text объем перевалки
    .bAdvants__item
        figure.bAdvants__img
            img(src="img/advants/3.png")
        p.bAdvants__title 18 м
        span.bAdvants__text естественные глубины у пирса
    .bAdvants__item
        figure.bAdvants__img
            img(src="img/advants/4.png")
        p.bAdvants__title до 120 000 т.
        span.bAdvants__text погрузка судов дедвейтом