
h1.bProg__title Угольный портовый терминал в районе мыса Бурный в Хабаровском крае
    .bProg__text
        p Оператором в рамках подпроекта по строительству угольного терминала в порту Ванино выступает ООО «Дальневосточный Ванинский Порт», являющийся дочерней компанией АО «ТЭПК».