section.bradcr.b-business-page__bradcr
    .container
        ul.bradcr__list
            li.bradcr__item
                a.bradcr__link(href="/") Главная
            li.bradcr__item
                a.bradcr__link(href="#") Наш бизнес
            li.bradcr__item
                a.bradcr__link.bradcr__link--disabled(href="#") Угольный портовый терминал в районе мыса Бурный в Хабаровском крае