.gallery__title-wrap
    .container
        .gallery__brd
            ul.gallery__brd-list
                li.gallery__brd-item
                    a(href="index.html").gallery__brd-link Главная
                li.gallery__brd-item
                    span.gallery__brd-disabled Медиагалерея

        h3.gallery__title Медиагалерея
section.bNews.bGallery
    .container
        .bNews__grid
            .bNews__sort
                ul.bNews__sort-list
                    li.bNews__themes.bNews__item Все темы
                    li.bNews__time.bNews__item За все время
            .bNews__column
                .bNews__post.wow.fadeIn(data-wow-delay='0.3s')
                    .bNews__post-img
                        .bGallery__icon
                            img(src="img/gallery/icon-1.png")
                        .b-video__content
                            video.b-video__player(poster="video/1.jpg" src="video/video.mp4" controls)
                                p Ваш браузер не поддерживает HTML5 Видео

                            .b-video__controls
                    .bNews__post-content
                        h5.bNews__post-title С Новым годом
                        span.bGallery__them Тематика


                .bNews__post.wow.fadeIn(data-wow-delay='0.3s')
                    .bNews__post-img
                        .bGallery__icon
                            img(src="img/gallery/icon-2.png")
                            span.bGallery__total 6 фото
                        img(src="img/gallery/7.png" alt="Photo").img-responsive
                    .bNews__post-content
                        h5.bNews__post-title Глобальная компания
                        span.bGallery__them Тематика


            .bNews__column.bNews__column--right
                .bNews__post.bNews__post--mt.wow.fadeIn(data-wow-delay='0.3s')
                    .bNews__post-img
                        .bGallery__icon
                            img(src="img/gallery/icon-2.png")
                            span.bGallery__total 6 фото
                        img(src="img/gallery/6.jpg" alt="Photo").img-responsive
                    .bNews__post-content
                        h5.bNews__post-title Глобльная компания
                        span.bGallery__them Тематика


                .bNews__post.bNews__post--mt.wow.fadeIn(data-wow-delay='0.3s')
                    .bNews__post-img
                        .bGallery__icon
                            img(src="img/gallery/icon-1.png")
                        .b-video__content
                            video.b-video__player(poster="video/2.jpg" src="video/video.mp4" controls)
                                p Ваш браузер не поддерживает HTML5 Видео

                            .b-video__controls
                    .bNews__post-content
                        h5.bNews__post-title С Новым годом
                        span.bGallery__them Тематика




    .bNews__btn-wrap.wow.fadeIn(data-wow-delay='0.3s')
            button.b-button.b-button--light.bNews__next-page
                 span.b-button__content Следующая страница
