section.b-content
    .container
        time(datetime="2019-04-01").b-content__date 01 апреля 2019
        h1.b-content__title Дорога «Кызыл-Курагино» будет построена
        p.b-content__text.b-content__text--strong Генеральным подрядчиком строительства железнодорожной ветки «Элегест — Кызыл — Курагино» выступит ОАО «РЖД». Соответствующий договор подписали накануне генеральный директор АО «ТЭПК „Кызыл-Курагино“ Руслан Байсаров и генеральный директор — председатель правления РЖД Олег Белозеров. Это знаковый документ для реализации федерального проекта в сфере транспорта „Строительство железной дороги Элегест — Кызыл — Курагино и угольного портового терминала на Дальнем Востоке в увязке с освоением минерально-сырьевой базы Республики Тыва“.
        p.b-content__text Присутствовавший во время подписания договора подряда министр транспорта России Евгений Дитрих назвал проект „достаточно серьезным и очень мощным“ для транспортного комплекса. Это будет первая железная дорога в Республике Тыва, которая свяжет регион с железнодорожной сетью России. Ее общая протяженность — 410 км, включая 11 км тоннелей и 16 км мостовых переходов. Всего будет построено 8 тоннелей в гористой местности и 127 мостов
        p.b-content__text Кроме того, дорога обеспечит выгрузку угля с Элегестского месторождения в Тыве, где компания Байсарова АО „Тувинская энергетическая промышленная корпорация“ (ТЭПК) строит угледобывающее предприятие. Прогнозные запасы коксующегося угля Элегеста могут составлять 855,2 млн тонн. Также планируется строительство глубоководного морского терминала по перевалке сухих грузов Ванино на мысе Бурный в Хабаровском крае, инвестором которого тоже выступает компания Байсарова.
        p.b-content__text Пропускная способность ветки „Элегест — Кызыл — Курагино“ может составить 15 млн тонн груза в год, из них 12 млн тонн — уголь с тывинского месторождения. „Это возможности выхода на экспортные рынки, возможности в последующем продолжить железную дорогу на территории сопредельных государств“, — оценил перспективы Евгений Дитрих. Помимо положительного влияния, которое реализация проекта окажет на развитие Тывы и сопредельных регионов России, рассматривается возможность продления ветки до границ Китая и Монголии. По некоторым данным, интерес к строительству уже проявляют инвесторы из Юго-Восточной Азии.
        p.b-content__text „Это крупнейший инвестиционный проект, который может серьезно улучшить состояние, создать большое количество новых рабочих мест в регионе“, — заявил глава Минэкономразвития РФ Максим Орешкин, недавно назначенный куратором региона и также присутствовавший при подписании соглашения между „ТЭПК ‚Кызыл-Курагино‘ и РЖД. Чиновник говорит о не менее 5 тыс. новых рабочих мест, которые будут созданы еще на этапе строительства ветки, и о нескольких десятках тысяч ‚по итогам, после того, как и сама железная дорога войдет в эксплуатацию, месторождение, к которому железная дорога будет подводить, тоже войдет в эксплуатацию‘.





