section.photo
    .container
        .photo__bradcr.bradcr
            ul.bradcr__list
                li.bradcr__item
                    a.bradcr__link(href="index.html") Главная
                li.bradcr__item
                    a.bradcr__link(href="#") Новости и медиа
                li.bradcr__item
                    a.bradcr__link.bradcr__link--disabled(href) Дорога «Кызыл-Курагино» будет построена