.b-post-info
    .b-post-info__wrap
        a.b-post-info__link Росбалт
        time.b-post-info__date(datatime="2019-02-04") 2 апреля 2019

    .b-post-info__socials
        span.b-post-info__socials-text Поделиться +

        ul.b-post-info__socials-list
            li.b-post-info__socials-item
                a(href="#").b-post-info__socials-link
                    img(src="img/fb.png" alt="facebook")
            li.b-post-info__socials-item
                a(href="#").b-post-info__socials-link
                    img(src="img/tw.png" alt="twitter")
            li.b-post-info__socials-item
                a(href="#").b-post-info__socials-link
                    img(src="img/in.png" alt="linkedin")

    button.b-post-info__button.b-button.b-button--light
        span.b-button__content К списку новостей