.sliders-wrap
    .slider.slider-nav.slick-slider
        .slide
            img(src="img/slider/1.jpg")
        .slide
            img(src="img/slider/1.jpg")
        .slide
            img(src="img/slider/1.jpg")
        .slide
            img(src="img/slider/1.jpg")

    .slider-buttons
        button.slick-prev 1
        button.slick-next 2

    .slider.slider-big.slick-slider
        .slide
            img(src="img/slider/1.jpg")
        .slide
            img(src="img/slider/1.jpg")
        .slide
            img(src="img/slider/1.jpg")
        .slide
            img(src="img/slider/1.jpg")


