.container
    .sliders-wrap
        .slider.slider-nav.slick-slider
            .slide
                img(src="img/slider/1.jpg")
            .slide
                img(src="img/slider/1.jpg")
            .slide
                img(src="img/slider/1.jpg")
            .slide
                img(src="img/slider/1.jpg")

        .slider-buttons
            .slider-navs-wrap
                button.swiper-button-prev.swiper-button-prev--accent

                .slider-pagination
                    .slider-counts
                        span.js-curent 01
                    .slider-counts
                        san.js-total 04

                button.swiper-button-next.swiper-button-next--accent



        .slider.slider-big.slick-slider
            .slide
                img(src="img/slider/1.jpg")
            .slide
                img(src="img/slider/1.jpg")
            .slide
                img(src="img/slider/1.jpg")
            .slide
                img(src="img/slider/1.jpg")


