.bAbout
    .container
        .bAbout__wrap
            .bAbout__text
               .bAbout__text-title горно-обогатительный комбинат
               p.bAbout__descr Балансовые запасы угольной массы месторождения по категориям A+B+C1 составляют около 855 млн тонн.

            .bAbout__img-block
                .bAbout__img-wrap
                    img(src="img/cheme-2.png" alt="Alt").bAbout__img
                .bAbout__bg


