.bAdvants
    .bAdvants__item
        figure.bAdvants__img
            img(src="img/advants/5.png")
        p.bAdvants__title 17 млн. т. (в год)
        span.bAdvants__text Объем сдачи
    .bAdvants__item
        figure.bAdvants__img
            img(src="img/advants/6.png")
        p.bAdvants__title 15 млн. т. (в год)
        span.bAdvants__text обогащенная продукция - концентрат коксующихся углей
    .bAdvants__item
        figure.bAdvants__img
            img(src="img/advants/7.png")
        p.bAdvants__title 855 млн. т.
        span.bAdvants__text объем балансовых запасов
    .bAdvants__item
        figure.bAdvants__img
            img(src="img/advants/8.png")
        p.bAdvants__title 84 кв. км.
        span.bAdvants__text площадь участка