body.elegast
    include ../../blocks/_header
    include _bradcr
    .container
        include _bProg-text
        include _bAdvants
    include _bAbout
    include _video

    include ../../blocks/_footer
