body
    include ../../blocks/_header
    main
        section.railway
            .container
                .railway__bradcr.bradcr
                    ul.bradcr__list
                        li.bradcr__item
                            a.bradcr__link(href="index.html") Главная
                        li.bradcr__item
                            a.bradcr__link(href="#") Наш бизнес
                        li.bradcr__item
                            a.bradcr__link.bradcr__link--disabled(href) Железнодорожная линия «Элегест-Кызыл-Курагино»
                h1.railway__title Железнодорожная линия «Элегест-Кызыл-Курагино»
                .railway__text
                    p Проект строительства железной дороги Элегест-Кызыл-Курагино реализуется по концессионой схеме специальной поектной компанией АО «ТЭПК «Кызыл-Курагино», созданной с участием ОАО РЖД, АО ТЭПК и ЗАО Лидер.
                .railway__advants
                    .railway__advants_item
                        figure.railway__advants_img
                            img(src="img/adv_icon_1.png")
                        p.railway__advants_title 410 км
                        span.railway__advants_text Протяженость
                    .railway__advants_item
                            figure.railway__advants_img
                                img(src="img/adv_icon_2.png")
                            p.railway__advants_title 127 мостов 8 тоннелей
                            span.railway__advants_text сооружений
                    .railway__advants_item
                            figure.railway__advants_img
                                img(src="img/adv_icon_3.png")
                            p.railway__advants_title 15 млн. т. (в год)
                            span.railway__advants_text суммарный объем грузоперевозок
                    .railway__advants_item
                            figure.railway__advants_img
                                img(src="img/adv_icon_4.png")
                            p.railway__advants_title 19 пар поездов
                            span.railway__advants_text в сутки
                    .railway__advants_item
                            figure.railway__advants_img
                                img(src="img/adv_icon_5.png")
                            p.railway__advants_title 27 км
                            span.railway__advants_text общая протяенность тоннелей и мостов
    include ../../blocks/_footer

    script(src='js/scripts.min.js')