.bAdvants {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;

  &__title, &__text {
    font: 400 12px/16px $mainFont, sans-serif;
    text-align: center;
    color: $gray;
  }

  &__title {
    font-family: 'OpenSans-Bold', sans-serif;
    margin-bottom: 21px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
  }

  &__text {
    text-transform: uppercase;
    opacity: 0.8;
  }

  &__item {
    text-align: center;
    width: 210px;
  }

  &__img {
    position: relative;
    margin-bottom: 62px;
    text-align: center;
    height: 51px;

    &::after {
      content: '';
      position: absolute;
      top: 66px;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      width: 1px;
      height: 32px;
      background-color: $main;
    }
  }

  img {
    object-fit: contain;
    object-position: center;
    max-height: 51px;
  }
}

@media only screen and (max-width: 750px) {
  .bAdvants {
    flex-direction: column;
    align-items: center;

    &__item {
      margin-bottom: 40px;
    }
  }
}