.b-main {
  overflow-x: hidden;
  margin-top: 190px;

  &__content {
    width: 660px;
    padding-left: 93px;
    @include media(md) {
      width: 100%;
      max-width: 545px;
      padding-left: 60px;
    }
    @include media(xs) {
      max-width: none
    }
    @include media(xsm) {
      padding-left: 0;
    }
  }
  &__title {
    @include font(32, 400);
    color: #272727;
    line-height: 50.38px;
    margin-bottom: 60px;
    @include media(md) {
      @include font(34);
      margin-bottom: 40px;
    }

  }
  &__description {
    @include font(20,300);
    line-height: 50.38px;
    width: inherit;
    letter-spacing: .28px;
    margin-bottom: 136px;
    color: #272727;
    &--mobile {
      display: none;
      @include media(xs) {
        display: block !important;
        max-width: 523px;
        color: #272727;

      }

    }
    @include media(md) {
      @include font(26);
      letter-spacing: .4px;
      margin-bottom: 36px;
    }
    @include media(xs) {
      display: none;
    }
  }
  &__icon {
    @include circle(64);
    position: relative;
    margin-bottom: 140px;
    display: block;
    img {
      @include align(absolute, false,true);
      top: -30%;
    }

  }

  @include media(md) {
    margin-top: 98px;
  }
}
