.container
    .bAddress
        .bAddress__contacts
            h4.bAddress__title Москва

            ul.bAddress__list
                li.bAddress__item
                    img(src="img/map-icon.png" alt="icon").bAddress__icon
                    span.bAddress__address 121151, Россия, г. Москва, наб. Тараса Шевченко, д. 23а
                li.bAddress__item
                    img(src="img/phone-icon.png" alt="icon").bAddress__icon
                    ul.bAddress__phone-list
                        li.bAddress__phone-item
                            a(href="tel:74957306650").bAddress__phone-link +7 (495) 730 66 50
                        li.bAddress__phone-item
                            a(href="tel:74957306650").bAddress__phone-link +7 (495) 730 66 54
                li.bAddress__item
                    img(src="img/mail-icon.png" alt="icon").bAddress__icon
                    a(href="mail:tepk@tepk-invest.ru").bAddress__mail-link tepk@tepk-invest.ru
                li.bAddress__item
                    img(src="img/web-icon.png" alt="icon").bAddress__icon
                    a(href="http://tepk-invest.ru").bAddress__mail-link tepk-invest.ru

        .bAddress__contacts
            h4.bAddress__title Кызыл

            ul.bAddress__list
                li.bAddress__item
                    img(src="img/map-icon.png" alt="icon").bAddress__icon
                    span.bAddress__address 667000, Россия, Республика Тыва, г. Кызыл, ул. Чульдума, д. 40а
                li.bAddress__item
                    img(src="img/phone-icon.png" alt="icon").bAddress__icon
                    ul.bAddress__phone-list
                        li.bAddress__phone-item.bAddress__phone-item--def
                            a(href="tel:+73942220581").bAddress__phone-link  +7 (39422) 20 581


