.bMaps
    .container
        .bMaps__controls
            button#js-moscow.bMaps__control-btn.bMaps__control-btn--active
                span.bMaps__control-text Москва
            button#js-kizil.bMaps__control-btn
                span.bMaps__control-text Кызыл

    .bMaps__container
        #js-map.bMap