body.b-contacts
    include ../../blocks/_modal
    include ../../blocks/_header
    main
    .b-contacts-page
        include _bradcr
        include _bSection-title
        include _bAddress
        include _bMap
    include ../../blocks/_footer
    script(type="text/javascript" src='https://api-maps.yandex.ru/2.1/?apikey=0a7ad2dd-daec-4dac-84d8-e01e38600600&lang=ru_RU')
    script(src='js/scripts.min.js')
