section.b-company#company
    .b-company__line.wow.drawLine(data-wow-delay='0.3s')
    .container
        .b-company__content
            h2.b-company__title.wow.fadeIn(data-wow-delay='0.5s') Компания
            p.b-company__text.wow.fadeIn(data-wow-delay='0.6s') Группа компаний ТЭПК занимается строительством крупнейших <br> в современной России промышленного <br> и инфраструктурных объектов
            button.b-button.b-company__button(type="button")
                span.b-button__content о компании
