section.b-main
    .container
        .b-main__content
            h1.b-main__title «Тувинская Энергетическая Промышленная Корпорация» (ТЭПК)
            p.b-main__description занимается строительством крупнейших в современной России промышленного и инфраструктурных объектов: Горно-обогатительного комбината; Железнодорожной линии Элегест – Кызыл – Курагино, Угольного портового терминала в районе мыса Бурный в Хабаровском крае.
            p.b-main__description.b-main__description--mobile занимается строительством крупнейших в современной России промышленного и инфраструктурных объектов.
            a.b-main__icon.b-arrow-link.b-arrow-link--down.js-scroll-nextBlock(href="#company")
                img.wow.fadeInDown(data-wow-delay='0.6s')(src="img/arrow-down.svg")
