section.b-video
    .container
        .b-video__content
            video.b-video__player(poster="video/poster.png" src="video/video.mp4" controls)
                p Ваш браузер не поддерживает HTML5 Видео

            .b-video__controls
