.b-video.b-news-video
    .container
        .b-video__content.b-news-video__content
            video.b-video__player.b-news-video__player(poster="video/poster-2.png" src="video/video.mp4" controls)
                p Ваш браузер не поддерживает HTML5 Видео

            .b-video__controls.b-news-video__controls