body
    include ../../blocks/_header
    main
        include _photo
        include _content
            include _news-video
            include _post-info
    include ../../blocks/_footer

    script(src='js/scripts.min.js')