section.b-news-slider
    .swiper-container.js-news-slider
        .swiper-wrapper
            .swiper-slide
                .b-news-slider__slide
                    .b-news-slider__img
                        img(src="img/news/1.jpg")
                    span.b-news-slider__date.wow.fadeIn(data-wow-delay='0.3s') 01 апреля 2019
                    span.b-news-slider__title.wow.fadeIn(data-wow-delay='0.3s') Дорога «Кызыл-Курагино» будет построена
                    button.b-button.b-news-slider__button.wow.fadeIn(data-wow-delay='0.3s')
                        span.b-button__content читать

            .swiper-slide
                .b-news-slider__slide
                    .b-news-slider__img
                        img(src="img/news/1.jpg")
                    span.b-news-slider__date.wow.fadeIn(data-wow-delay='0.3s') 01 апреля 2019
                    span.b-news-slider__title.wow.fadeIn(data-wow-delay='0.3s') Дорога «Кызыл-Курагино» будет построена
                    button.b-button.b-news-slider__button.wow.fadeIn(data-wow-delay='0.3s')
                        span.b-button__content читать

            .swiper-slide
                .b-news-slider__slide
                    .b-news-slider__img
                        img(src="img/news/1.jpg")
                    span.b-news-slider__date.wow.fadeIn(data-wow-delay='0.3s') 01 апреля 2019
                    span.b-news-slider__title.wow.fadeIn(data-wow-delay='0.3s') Дорога «Кызыл-Курагино» будет построена
                    button.b-button.b-news-slider__button.wow.fadeIn(data-wow-delay='0.3s')
                        span.b-button__content читать

        .swiper-button-prev.b-arrow-link.b-arrow-link--left.wow.fadeIn(data-wow-delay='0.6s')
            span Предыдущая новость
        .swiper-button-next.b-arrow-link.b-arrow-link--rigth.wow.fadeIn(data-wow-delay='0.6s')
            span Следующая новость