section.b-business
    .container
        .b-business__content
            .b-business__title.b-business-page__title.wow.fadeIn
                .b-business-page__line.wow.fadeIn(data-wow-delay='0.3s')
                span.wow.fadeIn(data-wow-delay='0.5s') наш бизнес
            .b-business-page__info
                .b-business-page__icon
                    img.wow.fadeIn(data-wow-delay='0.8s')(src="img/business-page.png")
                p.b-business-page__text.wow.fadeIn(data-wow-delay='1.1s') «Тувинская Энергетическая Промышленная Корпорация» (ТЭПК) занимается строительством крупнейших в современной России промышленного и инфраструктурных объектов.
            .b-business__blocks
                .b-business__info
                    .b-business__draw.wow.fadeIn(data-wow-delay='1.1s')
                    .b-business__circle
                        .b-business__icon
                            img.wow.fadeIn(data-wow-delay='1.3s')(src="img/business-icon.png")
                            p.wow.fadeIn(data-wow-delay='0.9s') Горно-обогатительный комбинат
                    a.b-business__link(href="#")
                        .b-business__link--line.wow.drawLine--small(data-wow-delay='.8s')
                        span.wow.fadeIn(data-wow-delay='1s') о проекте
                .b-business__items.wow.fadeIn(data-wow-delay='1.8s')
                    .b-business__item
                        p Железнодорожная линия <br>«Элегест-Кызыл-Курагино»
                        a.b-business__link(href="#")
                            .b-business__link--line
                            span о проекте
                    .b-business__item
                        p Угольный портовый терминал <br>в районе мыса Бурный в Хабаровском крае
                        a.b-business__link(href="#")
                            .b-business__link--line
                            span о проекте

            .b-business__blocks.b-business__blocks--mobile
                .b-business__slider
                    .swiper-container.js-business-slider
                        .swiper-wrapper
                            .swiper-slide.b-business__slide
                                .b-business__item
                                    p Железнодорожная линия <br>«Элегест-Кызыл-Курагино»
                                    a.b-business__link(href="#") о проекте
                            .swiper-slide
                                .b-business__item
                                    .b-business__info
                                        .b-business__draw
                                        .b-business__circle
                                            .b-business__icon
                                                img(src="img/business-icon.png")
                                                p Горно-обогатительный комбинат
                                        a.b-business__link(href="#") о проекте
                            .swiper-slide.b-business__slide
                                .b-business__item
                                    p Угольный портовый терминал <br>в районе мыса Бурный в Хабаровском крае
                                    a.b-business__link(href="#") о проекте
                        .swiper-button-prev.swiper-button-prev--accent
                        .swiper-button-next.swiper-button-next--accent
            button.b-business-page__button.b-button(type="button").wow.fadeIn(data-wow-delay='1.3s')
                span.b-button__content Карта проектов
